@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  background-color: $light-gray;
  color: $dark-gray;
  font-family: Avenir,Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Oswald", sans-serif;
}

a {
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

.btn{
  &__alert--submit{
    background-color: $primary-color;
    color: #fff;

    &:hover{
      background-color: darken($primary-color, 10%);
    }
  }
}

a, button{
  &:hover{
    transition: .3s ease-in-out;
  }
}

.btn{
  &--details{
      padding: 0.25em 0;
      border: 2px solid #87d980;
      border-radius: 50px;
      width: 200px;
      margin: 0.75em;
      color: #fff;

      &:hover{
        color: #87d980;
        background-color: rgb(17, 24, 39);
      }
  }
}

.dashboard__title{
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 2.5rem;
    margin-bottom: 0.25em;
    margin-top: 0.75em;
    text-transform: uppercase;
    font-weight: 600;

   &::before{
    content: '';
    background: #87d980;
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    z-index: -1;
    top: 80%;
   }
}

.sidebar{
  text-align: center;

  .sidebar__menu{

      a{
        color: #ccc;
      }
  }
}

.main{
  text-align: center;

  .grafana--temperature{
      width: 100%;
      min-height: 400px;
      height: auto;

      canvas{
        max-width: 100%;
      }
  }
}

.login-prompt{
  img{
    max-width: 650px;
    width: 100%;
  }
}

.dashboard__sensors{

    .sensor__item{

      .sensor__image {

        img{
          max-width: 200px;
          max-height: 150px;
          height: 100%;
        }
      }
    }
}

nav{

  .navbar__menu{

    ul{
      padding: 1em 0;

      li{
      text-align: center;

        a{
          color: #ccc;
        }
      }
    }
  }
}

.sensor-manager__toggle {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border: none;
  height: 20px;
  width: 30px;
  cursor: pointer;
  position: relative;

  &::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  &,
  &::after {
    transition: all 100ms ease-out;
  }

  &::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    width: 14px;
    position: absolute;
    left: 3px;
    top: 3px;
  }

  &:hover {
    background-color: darken($primary-color, 10%);;
  }

  &:checked {
    background-color: $primary-color;

    &::after {
      left: 13px;
    }
  }

  &:checked:hover {
    background-color: darken($primary-color, 10%);;
  }
}


.tooltip-icon {
  display: inline-block;
  margin-left: 8px;
  background-color: #ccc;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: help;

  &:hover::after{
    content: attr(title);
  position: absolute;
  left: 100%;
  top: 0;
  white-space: nowrap;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  }
}


.alert-interval{

  input{
    border: 1px solid $primary-color;
    border-radius: 0.25rem;
    text-align: right;
  }
}